<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <br>
      <h1>
        <a href="{{ site.baseurl }}">
          <img src="{{ site.baseurl }}public/images/logo.png" title="{{ site.title }}" width="100" />
        </a>
      </h1>
      <p class="lead">{{ site.tagline }}</p>
    </div>

    <nav class="sidebar-nav">

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}


      <br>

      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">WORK</a>
      <a class="sidebar-nav-item{% if page.url == site.blogurl %} active{% endif %}" href="{{ site.blogurl }}">BLOG</a>

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
      
      <div class="clear"></div>
      <br>

      <ul class="social-media-icons">            
        <li><a href="http://twitter.com/joalbright" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="http://dribbble.com/joalbright" target="_blank"><i class="fa fa-dribbble"></i></a></li>
        <li><a href="http://instagram.com/jo2co" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li><a href="http://github.com/joalbright" target="_blank"><i class="fa fa-github"></i></a></li>
        <!-- <li><a href="http://linkedin.com/in/joalbright" target="_blank"><i class="fa fa-linkedin"></i></a></li> -->
      </ul>

    </nav>

    <br>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
